<%- include('../include/_header') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"><i class="fa fa-users"></i>  View Request  </h1>
            <p class="mb-4">View all request that have been made by users</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-12">
                <div class="card card-header-actions">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8"><b>List of Request</b></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th style="width: 3%;">No</th>
                                    <th>Name</th>
                                    <th style="width: 15%;">Item Type</th>
                                    <th style="width: 12%;">Status </th>
                                    <!-- <th>ID</th> -->
                                    <th>Actions</th>
                                    <th style="width: 3%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= data[i].patient %></td>
                                    <%
                                    var tD = new Date(data[i].date);
                                    var cM = String(tD.getMonth()+1).padStart(2, '0');
                                    var cD = String(tD.getDate()).padStart(2, '0');
                                    var cY = tD.getFullYear();
                                    var nD = cD + '-' + cM + '-' + cY;
                                    %> 
                                    <td><%= nD %></td>
                                    <td><%= data[i].slot %></td>
                                    <td><%= data[i].status %></td>
                                    <td>
                                        <a href="/appointment/<%= data[i].id %>" class="btn btn-primary btn-circle btn-sm">
                                        <span class="icon text-white">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                                        </a>
                                    </td>
                                </tr>

                            <% } %>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
   
    </div>
    <!-- End of Main Content -->
<%- include('../include/_footer') %>
<script>
$('.btn-remove-appointment').click(function(e){
    $.ajax({
        url: "/api/staff/appointment/"+$(this).val(),
        type: "DELETE",
        success: function(data) {
            if(data.status == "success") {
                alert(data.message)
                location.href = '/appointment'
            }
            else {
                alert(data.message)
            }
        },
        error: function(err){
            console.log(err);
        }
    })
})
</script>